/campaign-manager/target/
/service-b/target/
/service-bff/target/
/campaign-manager/bin/
/service-b/bin/
/service-bff/bin/
.project
.classpath
.settings/
.idea/
/campaign-manager/.project
/service-b/.project
